.navBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 20px;
  padding: 2px 4px;
  position: relative;
}

@media (max-width:575px) {
  .navBar {
    display: none;
  }
}

.navBar-mobile {
  display: none;
}

@media (max-width:575px) {
  .navBar-mobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 20px;
    padding: 2px 4px;
    position: relative;
  }
}

.navBrand img{
  height: 70px;
}

.navHamburger {
  background-color: #fff;
  border: solid 1px #888;
  border-radius: 7px;
  color: #000;
  font-family: 'Permanent Marker', cursive;
  margin: 0px 20px;
  padding: 5px 10px;
}

.navHamburger:hover {
  background-color: #ff9406;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: .8s;
}

.navLink {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-family: 'Permanent Marker', cursive;
  padding:10px 25px;
  text-shadow: 0 2px 0 rgba(255,255,255,.5);
}

.navLink:hover {
  color: #ff9406;
  text-decoration: none;
  transition-duration: .8s;
}

@media (max-width:991px) {
  .navBrand img {
    height: 60px;
  }
}

@media (max-width:767px) {
  .navBrand img {
    height: 50px;
  }
}

.nav-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}


@media (max-width:991px) {
  .navLink {
    font-size: 12px;
    padding:10px 20px;
  }
}

@media (max-width:767px) {
  .navLink {
    font-size: 11px;
    padding: 10px 10px;
  }
}

@media (max-width:575px) {
  .navLink {
    font-size: 14px;
    padding: 10px 25px;
  }
}

/* @media (max-width:1199px) {
  .some-class {
    width: 70%
  }
} */

/* @media (max-width:991px) {
  .some-class {
    margin:15px auto;
  }
} */

/* @media (max-width:767px) {
  .some-class {
    width: 50%;
  }
} */

/* @media (max-width:575px) {
  .some-class {
    font-size: 10px;
  }
} */
