.products-column2 {
  padding: 20px 0;
}

.products-heading {
  color: #fff;
  font-family: 'Bangers', cursive;
  text-shadow: 0 4px 7px #000;
}

.products-paragraph {
  color: #000;
  font-family: 'Average Sans', sans-serif;
  font-size: 1rem;
}
